@import "vars";
@import "mixins";

@include main;

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  @include flexy-col(space-around, center);
  width: 100vw;
  min-height: 100vh;
  padding: 3rem;
}

a {
  @include links;
  @include h1;
}

#floyd {
  @include bg-image("../img/Floyd.jpg");
}

#mega {
  @include bg-image("../img/MegaRent.png");
}

#home {
  @include bg-image("../img/HomeExange.png");
}

#trains {
  @include bg-image("../img/Trains.webp");
}

#games {
  @include bg-image("../img/Games.jpeg");
}

#design {
  @include bg-image("../img/DesignStudio.png");
}

#gogo {
  @include bg-image("../img/GoGoTravel.jpeg");
}

.blue-box {
  @include flexy-row;
  border-top: 4px double #333;
  #blue {
    @include bg-image("../img/Blueprint.png");
    display: inline-block;
  }
}

.container {
  @include flexy-row(space-around, center);
  width: 100%;
  @include media-query(sm) {
    @include flexy-col;
  }
}
