@import "vars";
@import "mixins";

@include main;

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  @include flexy-col(space-around, center);
  width: 100vw;
  min-height: 100vh;
  padding: 3rem;
}

a {
  @include links;
  @include h1;
}

#blue {
  @include bg-image("../img/Blueprint.png");
}

#mega {
  @include bg-image("../img/MegaRent.png");
}

#home {
  @include bg-image("../img/HomeExange.png");
}

#design {
  @include bg-image("../img/DesignStudio.png");
}

.container {
  @include flexy-row(space-around, center);
  width: 100%;
  @include media-query(sm) {
    @include flexy-col;
  }
}
