@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

// Breakpoints for media queries:
$small: 540px;
$medium: 1280px;

// Max width:
$max-width: 1400px;

// Font Families:
$primary-ff: "Philosopher", sans-serif;
$secondary-ff: "Caveat", cursive;

// Typography:
$h1-fs: 2.75rem;
$h2-fs: 2.15rem;
$h3-fs: 2rem;
$h4-fs: 1.75rem;
$h5-fs: 1.25rem;
$p-fs: 1rem;
$link-fs: 1rem;
$input-fs: 1rem;

// Colors:
$main-color: #cdcbcb;
$bg-color: #201e1e;
$shadow-color: #cdcbcb9c;
$red-color: #480000;
$yellow-color: #ffe500;
