@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
}

nav {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  background-color: #282626;
  z-index: 100;
}
nav #logo {
  height: 90%;
}
nav #menu {
  height: 75%;
}
@media screen and (max-width: 1280px) and (min-width: 541px) {
  nav #menu {
    display: none;
  }
}
@media (min-width: 1281px) {
  nav #menu {
    display: none;
  }
}
nav .link-container a {
  text-decoration: none;
  color: #e1dede;
  padding: 4px 0;
  display: inline-block;
  width: 90px;
  text-align: center;
  border-right: 1px solid #e1dede;
  border-top-left-radius: 10vw;
}
nav .link-container a:hover {
  color: #282626;
  background-color: #e1dede;
  transition: background-color 0.75s ease;
}
@media (max-width: 540px) {
  nav .link-container {
    display: none;
  }
}
@media (max-width: 540px) {
  nav:hover .link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 39vh;
    top: 8vh;
    border-top: 4px double rgba(199, 100, 149, 0.1294117647);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #282626;
  }
  nav:hover .link-container a {
    margin-bottom: 1rem;
  }
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  height: 100vh;
  border-bottom: 4px double;
}

#h1-section header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(2px 4px 6px #a09e9e);
}
#h1-section header h1, #h1-section header .title-2 {
  font-size: 2.5rem;
  color: #282626;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 540px) {
  #h1-section header h1, #h1-section header .title-2 {
    font-size: 1.75rem;
  }
}
#h1-section header .title-2 {
  font-size: 1.25rem;
  margin: 1rem 0;
  letter-spacing: 2px;
}
#h1-section .img-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  width: 100vw;
  background-image: url("../img/sass.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

#inputs-section label {
  font-size: 0.9rem;
  margin-right: 0.5rem;
  display: inline-block;
  width: 4.05rem;
  text-align: end;
}
#inputs-section h1, #inputs-section #h1-section header .title-2, #h1-section header #inputs-section .title-2 {
  font-size: 2.5rem;
  color: #282626;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
  text-shadow: 4px 2px 3px #838383;
}
@media (max-width: 540px) {
  #inputs-section h1, #inputs-section #h1-section header .title-2, #h1-section header #inputs-section .title-2 {
    font-size: 1.75rem;
  }
}
#inputs-section input {
  position: relative;
  margin: 0.27rem;
  width: 9rem;
  border: none;
  border-radius: 0.225rem;
  outline: none;
  background-color: transparent;
  box-shadow: 1px 1px 3px #747272;
}
#inputs-section input[placeholder] {
  padding: 0.675rem;
}
#inputs-section input::placeholder {
  position: absolute;
  left: 0rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.9rem;
  color: #878484;
  left: 0.675rem;
}

#btn-section h1, #btn-section #h1-section header .title-2, #h1-section header #btn-section .title-2 {
  font-size: 2.5rem;
  color: #282626;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
  text-shadow: 4px 2px 3px #838383;
}
@media (max-width: 540px) {
  #btn-section h1, #btn-section #h1-section header .title-2, #h1-section header #btn-section .title-2 {
    font-size: 1.75rem;
  }
}
#btn-section button {
  color: #f75311;
  background-color: #282626;
  margin: 1rem;
  padding: 0.75rem 2rem;
  border-radius: 1rem;
  border: 1px solid #282626;
  width: fit-content;
}
#btn-section button:hover {
  color: #282626;
  background-color: #f75311;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

footer {
  font-family: "Courgette", cursive;
  padding: 1rem 0;
  color: #f75311;
  background-color: #282626;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*# sourceMappingURL=style.css.map */
