@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

// Breakpoints for media queries:
$small: 540px;
$medium: 1280px;

// Max width:
$max-width: 1400px;

// Font Families:
$primary-ff: "Roboto", sans-serif;
$secondary-ff: "Courgette", cursive;

// Typography:
$h1-fs: 3rem;
$h2-fs: 2.5rem;
$h3-fs: 2rem;
$h4-fs: 1.5rem;
$p-fs: 1rem;
$link-fs: 1rem;
$input-fs: 1rem;

// Colors:
$main-color: #cdcbcb;
$bg-color: #333;
