@import "vars";
@import "mixin-main";
@import "mixin-units";

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  width: 100vw;
}

nav {
  @include position-x-center(fixed);
  width: 100vw;
  height: 8vh;
  @include flexy-row(space-between, center);
  padding: 0 3rem;
  background-color: $bg-color;
  z-index: 100;
  #logo {
    height: 90%;
  }
  #menu {
    height: 75%;
    @include media-query(md) {
      display: none;
    }
    @include media-query(lg) {
      display: none;
    }
  }
  .link-container {
    a {
      @include links;
    }
    @include media-query(sm) {
      display: none;
    }
  }
  @include media-query(sm) {
    &:hover .link-container {
      @include flexy-col;
      @include position-x-center();
      width: 100vw;
      height: 39vh;
      top: 8vh;
      border-top: 4px double #c7649521;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: $bg-color;
      a {
        margin-bottom: 1rem;
      }
    }
  }
}

@include section;

#h1-section {
  header {
    @include position-x-center();
    bottom: 3vh;
    width: 100%;
    @include flexy-col;
    @include h1;
    filter: drop-shadow(2px 4px 6px #a09e9e);
    .title-2 {
      @extend h1;
      font-size: $h1-font-size * 0.5;
      margin: 1rem 0;
      letter-spacing: 2px;
    }
  }
  .img-container {
    @include position-x-center();
    height: 100vh;
    width: 100vw;
    @include bg-image("../img/sass.png");
    z-index: -1;
  }
}

#inputs-section {
  @include labels;
  @include h1 {
    margin-bottom: 3rem;
    text-shadow: 4px 2px 3px #838383;
  }
  @include inputs() {
    box-shadow: 1px 1px 3px #747272;
  }
}

#btn-section {
  @include h1 {
    margin-bottom: 3rem;
    text-shadow: 4px 2px 3px #838383;
  }
  @include btns($orange-color, $btn-color);
}

footer {
  font-family: $footer-family;
  padding: 1rem 0;
  color: $orange-color;
  background-color: $bg-color;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
