@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: Tahoma;
  src: url(../font/Tahoma-Font/Regular.ttf);
}
@font-face {
  font-family: Tahoma;
  src: url(../font/Tahoma-Font/Regular.ttf);
}
@font-face {
  font-family: Tahoma;
  src: url(../font/Tahoma-Font/Regular.ttf);
}
@font-face {
  font-family: Tahoma;
  src: url(../font/Tahoma-Font/Regular.ttf);
}
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, sans-serif;
}

header {
  background-color: #292929;
  width: 100vw;
}
header .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 2rem 0rem;
  height: 19vh;
  max-width: 1400px;
  margin: 0 auto;
}
header .container div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 80%;
  line-height: 1;
  margin-top: 5vh;
  padding-left: 2rem;
}
header .container div h1 {
  color: #f99d1c;
  font-size: 2.75rem;
  width: 75%;
}
header .container div p {
  color: white;
  font-size: 0.75rem;
  align-self: flex-end;
}
header .container img {
  height: 100%;
  margin-top: 4vh;
}

nav {
  background-color: #f99d1c;
  width: 100vw;
}
nav .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
nav .container img {
  height: 25px;
  border-radius: 3px;
}
@media (max-width: 540px) {
  nav .container img {
    position: absolute;
    top: 2vh;
    left: 2vh;
    z-index: 100;
  }
}
nav .container .links a {
  color: #4f4f4f;
  text-decoration: none;
  padding: 0.75em 1.5em;
}
nav .container .links a:hover {
  background-color: #eaf09b;
}
nav .container .links .category {
  display: none;
}
nav .container .links .category:hover {
  background-color: #eaf09b;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
main .games {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 1rem;
}
main .games form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  margin: 1rem;
  background-color: #4f4f4f;
}
main .games form label {
  color: white;
  font-size: 0.75rem;
}
main .games form input[type=submit] {
  padding: 0.5rem;
  margin: 5px 0;
  border-radius: 5px;
  color: #f99d1c;
}
main .games .gamelist {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  background-color: #e6e4e4;
  width: 80%;
  padding: 3rem;
}
main .games .gamelist .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
}
main .games .gamelist .box img {
  width: 125px;
  height: 175px;
  margin-bottom: 10px;
}
main .games .gamelist .box .stars .checked {
  color: #f99d1c;
}
main .contact {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
main .contact .info {
  width: 50%;
  list-style: none;
}
main .contact .info li {
  display: inline-block;
  padding: 0em 2em 0.5em 0em;
  width: 30%;
  font-size: 0.75rem;
}
main .contact .info li a {
  text-decoration: none;
  color: #6e6c6c;
  font-weight: bold;
}
main .contact .map {
  text-align: end;
}
main .contact .map p {
  color: #6e6c6c;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292929;
  width: 100%;
  margin: 0 auto;
  color: white;
  font-size: 1.15rem;
}
footer img {
  height: 20px;
  margin-right: 10px;
}

@media screen and (max-width: 1280px) and (min-width: 541px) {
  nav .links {
    display: none;
  }
}
@media (max-width: 540px) {
  header {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 2rem 1rem 1rem;
  }
  nav .container {
    display: block;
    height: auto;
  }
  nav .container .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f99d1c;
    margin-top: 3vh;
  }
  nav .container .links .category {
    display: block;
    padding: 1rem;
  }
  nav .container .links a {
    text-align: center;
    display: none;
  }
  nav .container .links:hover a {
    display: block;
    width: 100%;
    padding: 1rem;
  }
  main .games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  main .games form {
    width: 100%;
    margin: 0;
  }
  main .games .gamelist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .games .gamelist .box {
    padding: 1rem 0;
  }
  main .contact {
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem 0;
    width: 100%;
  }
  main .contact .info {
    width: 100%;
    list-style: none;
    padding-top: 2rem;
  }
  main .contact .info li {
    display: inline-block;
    width: 30%;
    font-size: 0.75rem;
    padding: 0rem 0.5rem 0.5rem 0rem;
    text-align: center;
  }
  main .contact .info li a {
    text-decoration: none;
    color: #6e6c6c;
  }
  main .contact .map {
    text-align: center;
  }
  main .contact .map iframe {
    max-width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
