@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$main_font: "Roboto", sans-serif;
$main_text_color: #f2f2dd;
$black_color: #0e1538;
$red_color: #fb5b5b;
$blue_color: #7079f7;
