@import "vars";
@import "mixin-main";
@import "mixin-units";

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: $main-font;
}

header {
  background-color: $bg-color;
  width: 100vw;
  .container {
    @include flexy-row(flex-start, center);
    padding: 1rem 2rem 0rem;
    height: $navHeight;
    max-width: 1400px;
    margin: 0 auto;
    div {
      @include flexy-row(space-between, flex-end);
      width: 80%;
      line-height: 1;
      margin-top: 5vh;
      padding-left: 2rem;
      h1 {
        color: $orange;
        font-size: $h1-size;
        width: 75%;
      }
      p {
        color: white;
        font-size: $p-size;
        align-self: flex-end;
      }
    }
    img {
      height: 100%;
      margin-top: 4vh;
    }
  }
}

nav {
  background-color: $orange;
  width: 100vw;
  .container {
    @include flexy-row;
    height: 6vh;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    img {
      height: 25px;
      border-radius: 3px;
      @include media-query(sm) {
        position: absolute;
        top: 2vh;
        left: 2vh;
        z-index: 100;
      }
    }
    .links {
      a {
        color: $grey;
        text-decoration: none;
        padding: 0.75em 1.5em;
        &:hover {
          background-color: $yellow;
        }
      }
      .category {
        display: none;
        &:hover {
          background-color: $yellow;
        }
      }
    }
  }
}

main {
  @include flexy-col;
  padding: 2rem;
  .games {
    @include flexy-row(space-between, stretch);
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem 1rem;
    form {
      @include flexy-col;
      padding: 0 2rem;
      margin: 1rem;
      background-color: $bg-form-color;
      label {
        color: white;
        font-size: $p-size;
      }
      input[type="submit"] {
        padding: 0.5rem;
        margin: 5px 0;
        border-radius: 5px;
        color: $orange;
      }
    }
    .gamelist {
      @include flexy-row(space-evenly, stretch);
      background-color: #e6e4e4;
      width: 80%;
      padding: 3rem;
      .box {
        @include flexy-col;
        text-align: center;
        font-size: $p-size;
        font-weight: bold;
        img {
          width: 125px;
          height: 175px;
          margin-bottom: 10px;
        }
        .stars {
          .checked {
            color: $orange;
          }
        }
      }
    }
  }

  .contact {
    @include flexy-row(center, stretch);
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    .info {
      width: 50%;
      list-style: none;
      li {
        display: inline-block;
        padding: 0em 2em 0.5em 0em;
        width: 30%;
        font-size: $p-size;
        a {
          text-decoration: none;
          color: $linkColor;
          font-weight: bold;
        }
      }
    }
    .map {
      text-align: end;
      p {
        color: $linkColor;
        font-weight: bold;
      }
    }
  }
}

footer {
  @include flexy-row;
  background-color: $bg-color;
  width: 100%;
  margin: 0 auto;
  color: white;
  font-size: 1.15rem;
  img {
    height: 20px;
    margin-right: 10px;
  }
}

@include media-query(md) {
  nav {
    .links {
      display: none;
    }
  }
}

@include media-query(sm) {
  header {
    display: none;
  }
  nav {
    @include flexy-col(flex-start, center);
    height: 100%;
    padding: 2rem 1rem 1rem;
    .container {
      display: block;
      height: auto;
      .links {
        @include flexy-col;
        width: 100%;
        background-color: $orange;
        margin-top: 3vh;
        .category {
          display: block;
          padding: 1rem;
        }
        a {
          text-align: center;
          display: none;
        }
        &:hover {
          a {
            display: block;
            width: 100%;
            padding: 1rem;
          }
        }
      }
    }
  }

  main {
    .games {
      @include flexy-col;
      width: 100%;
      padding: 0;
      form {
        width: 100%;
        margin: 0;
      }
      .gamelist {
        @include flexy-col;
        .box {
          padding: 1rem 0;
        }
      }
    }

    .contact {
      display: flex;
      flex-direction: column-reverse;
      padding: 2rem 0;
      width: 100%;
      .info {
        width: 100%;
        list-style: none;
        padding-top: 2rem;
        li {
          display: inline-block;
          width: 30%;
          font-size: $p-size;
          padding: 0rem 0.5rem 0.5rem 0rem;
          text-align: center;
          a {
            text-decoration: none;
            color: $linkColor;
          }
        }
      }
      .map {
        text-align: center;
        iframe {
          max-width: 90%;
        }
      }
    }
  }
}
