// Colors
$redColor: #e26868;
$whiteColor: #ffffff;
$blackColor: #000000;
$linkColor: #aaa9a9;
$headingColor: #555555;

$purpleColor: #4a3f60;
$boxImgBackgroundColor: #443959;

$contactColor: #cfedf0;
$formBgColor: #eeeeee;

// Sizes
$navHeight: 8vh;

// Other
$formBorderRadius: 5px;
